[class*="columns-"] {
	display: grid;
}

.columns-mobile-1 {
	grid-template-columns: repeat(1, 1fr);
}

.columns-mobile-2 {
	grid-template-columns: repeat(2, 1fr);
}

.columns-mobile-3 {
	grid-template-columns: repeat(3, 1fr);
}

.columns-mobile-4 {
	grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 600px) {
	.columns-tablet-1 {
		grid-template-columns: repeat(1, 1fr);
	}

	.columns-tablet-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.columns-tablet-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.columns-tablet-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.columns-tablet-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.columns-tablet-6 {
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (min-width: 960px) {
	.columns-desktop-1 {
		grid-template-columns: repeat(1, 1fr);
	}

	.columns-desktop-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.columns-desktop-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.columns-desktop-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.columns-desktop-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.columns-desktop-6 {
		grid-template-columns: repeat(6, 1fr);
	}
}